*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
index.html
install-sh
org.jjk.PkgClip.service
pkgclip
pkgclip-dbus
pkgclip.1
pkgclip.xpm
missing
stamp-h1
